/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	/*header*/
	header{
	  padding: 18px 0;
	  background-image: linear-gradient(to right, #1b1c4a 0%, #1b1c4a 55%, #f3f1fc 55%, #f3f1fc 100%);
	}
	/*menu*/
	.menu ul li a{
	  margin:9px 0 !important;
	  padding: 0 0 2px 0 !important;
	  display: inline-block;
	  font-size: 14px;
	  color: #ffffff !important;
	  border-bottom: 2px solid #1b1c4a;
	}
	.menu ul li a:hover{
	  border-bottom: 2px solid #ffffff;
	}
	.menu ul li:first-child a{
	  margin:12px 0 9px 0 !important;
	  padding: 3px 0 2px 0 !important;
	}

	.btn-custom{
	  margin:9px 0 !important;
	  font-size: 14px;
	}
	/*menu*/
	/*header*/

	/*banner*/
	.b-box {
	    padding: 55px 33px;
	}
	.b-h1{
	  font-size: 32px;
	}
	
	.b-services ul li{
	  font-size: 15px;
	}
	.b-services ul li i{
	  font-size: 14px;
	}

	.b-btn-custom1{
	  margin: 5px 0;
	  padding: 10px 60px !important;
	  font-size: 14px;
	}
	
	.b-btn-custom2{
	  margin: 5px 0 0 0;
	  font-size: 14px;
	}

	/*banner*/

	/*service*/
	.service{
	  padding: 60px 0;
	}

	.s-h1{
	  margin: 0 0 25px 0;
	  font-size: 27px;
	}
	.s-p{
	  margin: 0 0 25px 0;
	  font-size: 14px;
	}
	.s-a {
	  /*margin: 0 0 25px 0;*/
	  font-size: 14px;
	}
	.s-p2{
	  margin: 25px 0;
	  font-size: 14px;
	}

	.s-option{
	  margin-bottom: 25px;
	  padding: 25px 10px;
	}
	.s-h2{
	  font-size: 15px;
	}
	.s-op-p{
	  font-size: 14px;
	}
	/*service*/

	/*feature*/
	.feature{
	  padding: 60px 0;
	  background-image: linear-gradient(to right, #f3f1fc 50%, #f3f1fc 50%);
	}
	.f-box{
	  width: 295px;
      height: 255px;
	}
	.bg-custom {
	  margin-top: 30px;
	}
	.f-h1{
	  margin:0 0 30px 0;
	  font-size: 27px;
	}
	.f-p{
	  margin:0 0 30px 0;
	}
	.f-services ul li{
	  font-size: 14px;
	  color: #ee9e00;
	}
	.f-services ul li i{
	  font-size: 14px;
	  color: #ee9e00;
	}
	/*feature*/

	/*advantage*/
	.advantage{
	  padding: 0;
	}
	.a-option{
	  padding: 10px 0 30px;
	}
	.a-h2{
	  font-size: 16px;
	}
	/*advantage*/

	/*stat*/
	.stat{
	  margin: 0;
	  padding: 60px 0 0;
	  background-image: linear-gradient(to right, #f3f1fc 70%, #f3f1fc 70%);
	}
	.s-stat{
	  margin-top: 35px;
	  padding: 30px 40px 5px;
	}

	/** Progressbar class css*/
	.proggress{
	  height: 5px;
	  width: 7px;
	}
	.percentCount{
	  font-size: 13px; 
	}
	.s-title{
	  font-size: 14px;
	}
	/** Progressbar class css*/
	/*stat*/

	/*team*/
	.team{
	  padding: 90px 0 60px;
	}
	.t-slide{
	  margin-bottom: 10px; 
	  padding: 20px 0 25px;
	}
	.t-option{
	  margin: 0 10px;
	  border-radius: 20px;
	}
	.t-h2{
	  font-size: 20px;
	}
	.t-op-p{
	  font-size: 15px;
	}
	/*team*/

	/*call*/
	.call{
	  padding: 70px 0;
	}
	.c-h1{
	  font-size: 40px;
	  margin-bottom: 25px;
	}
	/*call*/

	/*achievement*/
	.ach{
	  padding: 40px 0 20px;
	}
	.ach-h2{
	  /*padding: 0 108px;*/
	  margin-top: 10px;
	  font-size: 28px;
	}
	.ach-p{
	  /*padding: 0 98px;*/
	  font-size: 12px;
	  margin-bottom: 40px;
	}
	/*achievement*/

	/*plan*/
	.plan{

	  padding: 60px 0 0 0;
	}
	.p-card {
	  margin-bottom: 40px;
	}

	.p-services ul li{
	  font-size: 14px;
	}
	.p-services ul li i{
	  font-size: 13px;
	}
	.p-p{
	  font-size: 25px;
	}
	/*plan*/

	/*quality*/
	.quality{
	  padding: 60px 0;
	}
	.q-h2{ 
	  margin-bottom: 25px;
	  font-size: 22px;
	}

	.q-box{
	  margin-top: 25px;
	  margin-bottom: 25px;
	  width: 250px;
	  height: 300px;
	}
	/*quality*/

	/*contact*/
	.contact{
	  padding: 0 0 60px;
	}
	.c-form{
	  margin-top: 30px;
	}
	/*contact*/

	/*bottom*/
	.bottom{
	  padding: 45px 0 10px;
	}
	.b-1 p strong{
	  font-size: 16px;
	  text-align: center;
	}
	.b-1 p a{
	  font-size: 14px;
	  text-align: center;
	}
	/*bottom*/
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	/*header*/
	header{
	  padding: 18px 0;
	  background-image: linear-gradient(to right, #1b1c4a 0%, #1b1c4a 45%, #f3f1fc 45%, #f3f1fc 100%);
	}
	/*menu*/
	.menu ul li a{
	  margin:9px 0 !important;
	  padding: 0 0 2px 0 !important;
	  display: inline-block;
	  font-size: 14px;
	  color: #ffffff !important;
	  border-bottom: 2px solid #1b1c4a;
	}
	.menu ul li a:hover{
	  border-bottom: 2px solid #ffffff;
	}
	.menu ul li:first-child a{
	  margin:12px 0 9px 0 !important;
	  padding: 3px 0 2px 0 !important;
	}

	.btn-custom{
	  margin:9px 0 !important;
	  font-size: 14px;
	}
	/*menu*/
	/*header*/

	/*banner*/
	.b-box {
	    padding: 55px 33px;
	}
	.b-h1{
	  font-size: 53px;
	}
	
	.b-services ul li{
	  font-size: 15px;
	}
	.b-services ul li i{
	  font-size: 14px;
	}

	.b-btn-custom1{
	  padding: 10px 60px !important;
	  font-size: 14px;
	}
	
	.b-btn-custom2{
	  font-size: 14px;
	}

	/*banner*/

	/*service*/
	.service{
	  padding: 70px 0;
	}

	.s-h1{
	  margin: 0 0 25px 0;
	  font-size: 40px;
	}
	.s-p{
	  margin: 0 0 25px 0;
	  font-size: 15px;
	}
	.s-a {
	  /*margin: 0 0 25px 0;*/
	  font-size: 15px;
	}
	.s-p2{
	  margin: 25px 0;
	  font-size: 14px;
	}

	.s-option{
	  margin-bottom: 25px;
	  padding: 25px 10px;
	}
	.s-h2{
	  font-size: 15px;
	}
	.s-op-p{
	  font-size: 14px;
	}
	/*service*/

	/*feature*/
	.feature{
	  padding: 70px 0;
	  background-image: linear-gradient(to right, #f3f1fc 50%, #f3f1fc 50%);
	}
	.f-box{
	  width: 385px;
	  height: 345px;
	}
	.bg-custom {
	  margin-top: 30px;
	}
	.f-h1{
	  margin:0 0 30px 0;
	  font-size: 39px;
	}
	.f-p{
	  margin:0 0 30px 0;
	}
	.f-services ul li{
	  font-size: 14px;
	  color: #ee9e00;
	}
	.f-services ul li i{
	  font-size: 14px;
	  color: #ee9e00;
	}
	/*feature*/

	/*advantage*/
	.advantage{
	  padding: 0;
	}
	.a-option{
	  padding: 10px 0 30px;
	}
	.a-h2{
	  font-size: 16px;
	}
	/*advantage*/

	/*stat*/
	.stat{
	  margin: 0;
	  padding: 65px 0 10px;
	  background-image: linear-gradient(to right, #f3f1fc 70%, #f3f1fc 70%);
	}
	.s-stat{
	  margin-top: 35px;
	  padding: 30px 40px 5px;
	}

	/** Progressbar class css*/
	.proggress{
	  height: 7px;
	  width: 9px;
	}
	.percentCount{
	  font-size: 13px; 
	}
	.s-title{
	  font-size: 14px;
	}
	/** Progressbar class css*/
	/*stat*/

	/*team*/
	.team{
	  padding: 87px 0 70px;
	}
	.t-slide{
		margin-bottom: 10px; 
	  padding: 20px 0 25px;
	}
	.t-option{
	  margin: 0 10px;
	  border-radius: 20px;
	}
	.t-h2{
	  font-size: 20px;
	}
	.t-op-p{
	  font-size: 15px;
	}
	/*team*/

	/*call*/
	.call{
	  padding: 80px 0;
	}
	.c-h1{
	  font-size: 50px;
	  margin-bottom: 30px;
	}
	/*call*/

	/*achievement*/
	.ach{
	  padding: 70px 0 70px 40px;
	}
	.ach-h2{
	  font-size: 20px;
	}
	.ach-p{
	  font-size: 9px;
	}
	/*achievement*/

	/*plan*/
	.plan{

	  padding: 70px 0 0 0;
	}
	.p-card {
	  margin-bottom: 40px;
	}
	.p-services ul li{
	  font-size: 14px;
	}
	.p-services ul li i{
	  font-size: 13px;
	}
	.p-p{
	  font-size: 25px;
	}
	/*plan*/

	/*quality*/
	.quality{
	  padding: 70px 0;
	}
	.q-h2{ 
	  margin-bottom: 25px;
	  font-size: 22px;
	}

	.q-box{
	  margin-top: 25px;
	  margin-bottom: 25px;
	  width: 300px;
	  height: 350px;
	}
	/*quality*/

	/*contact*/
	.contact{
	  padding: 0 0 70px;
	}
	.c-form{
		margin-top: 35px;
	}
	/*contact*/

	/*bottom*/
	.bottom{
	  padding: 45px 0 10px;
	}
	.b-1 p strong{
	  font-size: 16px;
	}
	.b-1 p a{
	  font-size: 14px;
	}
	/*bottom*/
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	/*header*/
	header{
	  padding: 18px 0;
	  background-image: linear-gradient(to right, #1b1c4a 0%, #1b1c4a 40%, #f3f1fc 40%, #f3f1fc 100%);
	}
	/*menu*/
	.menu ul li a{
	  margin:9px 0 !important;
	  padding: 0 0 2px 0 !important;
	  display: inline-block;
	  font-size: 14px;
	  color: #ffffff !important;
	  border-bottom: 2px solid #1b1c4a;
	}
	.menu ul li a:hover{
	  border-bottom: 2px solid #ffffff;
	}
	.menu ul li:first-child a{
	  margin:12px 0 9px 0 !important;
	  padding: 3px 0 2px 0 !important;
	}

	.btn-custom{
	  margin:9px 0 !important;
	  font-size: 14px;
	}
	/*menu*/
	/*header*/

	/*banner*/
	.b-box {
	    padding: 70px 33px;
	}
	.b-h1{
	  font-size: 55px;
	}
	
	.b-services ul li{
	  font-size: 15px;
	}
	.b-services ul li i{
	  font-size: 14px;
	}

	.b-btn-custom1{
	  font-size: 14px;
	}
	
	.b-btn-custom2{
	  font-size: 14px;
	}
	/*banner*/

	/*service*/
	.service{
	  padding: 80px 0;
	}

	.s-h1{
	  margin: 0 0 25px 0;
	  font-size: 49px;
	}
	.s-p{
	  margin: 0 0 25px 0;
	  font-size: 15px;
	}
	.s-a {
	  margin: 0 0 25px 0;
	  font-size: 15px;
	}
	.s-p2{
	  font-size: 14px;
	}

	.s-option{
	  margin-bottom: 25px;
	  padding: 25px 10px;
	}
	.s-h2{
	  font-size: 15px;
	}
	.s-op-p{
	  font-size: 14px;
	}
	/*service*/

	/*feature*/
	.feature{
	  padding: 80px 34px;
	  background-image: linear-gradient(to right, #f3f1fc 50%, #f3f1fc 50%);
	}
	.f-box{
	  width: 400px;
	  height: 360px;
	}
	.bg-custom {
	  margin-top: 30px;
	}
	.f-h1{
	  margin:0 0 30px 0;
	  font-size: 49px;
	}
	.f-p{
	  margin:0 0 30px 0;
	}
	.f-services ul li{
	  font-size: 14px;
	  color: #ee9e00;
	}
	.f-services ul li i{
	  font-size: 14px;
	  color: #ee9e00;
	}
	/*feature*/

	/*advantage*/
	.advantage{
	  padding: 0;
	}
	.a-option{
	  padding: 10px 0;
	}
	.a-h2{
	  font-size: 14.5px;
	}
	/*advantage*/

	/*stat*/
	.stat{
	  margin: 0;
	  padding: 80px 34px 29px;
	  background-image: linear-gradient(to right, #f3f1fc 70%, #f3f1fc 70%);
	}
	.s-stat{
	  margin-top: 35px;
	  padding: 30px 40px 5px;
	}

	/** Progressbar class css*/
	.proggress{
	  height: 7px;
	  width: 9px;
	}
	.percentCount{
	  font-size: 13px; 
	}
	.s-title{
	  font-size: 14px;
	}
	/** Progressbar class css*/
	/*stat*/

	/*team*/
	.team{
	  padding: 80px 0;
	}
	.t-slide{
	  padding: 40px 0 75px;
	}
	.t-option{
	  margin: 0 10px;
	  border-radius: 20px;
	}
	.t-h2{
	  font-size: 20px;
	}
	.t-op-p{
	  font-size: 15px;
	}
	/*team*/

	/*call*/
	.call{
	  padding: 100px 0;
	}
	.c-h1{
	  font-size: 60px;
	  margin-bottom: 30px;
	}
	/*call*/

	/*achievement*/
	.ach{
	  padding: 80px 0 80px 66px;
	}
	.ach-h2{
	  font-size: 25px;
	}
	.ach-p{
	  font-size: 11px;
	}
	/*achievement*/

	/*plan*/
	.plan{

	  padding: 80px 0 0 0;
	}
	.p-card {
	  margin-bottom: 40px;
	}

	.p-services ul li{
	  font-size: 15px;
	}
	.p-services ul li i{
	  font-size: 14px;
	}
	.p-p{
	  font-size: 30px;
	}
	/*plan*/

	/*quality*/
	.quality{
	  padding: 80px 0;
	}
	.q-h2{ 
	  margin-bottom: 25px;
	  font-size: 22px;
	}

	.q-box{
	  margin-top: 25px;
	  margin-bottom: 25px;
	  width: 350px;
	  height: 400px;
	}
	/*quality*/

	/*contact*/
	.contact{
	  
	  padding: 0 0 80px;
	}
	.c-form{
		margin-top: 40px;
	}
	/*contact*/

	/*bottom*/
	.bottom{
	  padding: 50px 0 12px;
	}
	.b-1 p strong{
	  font-size: 16px;
	}
	.b-1 p a{
	  font-size: 14px;
	}
	/*bottom*/

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	/*header*/
	header{
	  background-image: linear-gradient(to right, #1b1c4a 0%, #1b1c4a 36.7%, #f3f1fc 36.7%, #f3f1fc 100%);
	}
	/*menu*/
	.menu ul li a{
	  margin: 0 10px !important;
	  font-size: 14px !important;
	}
	.menu ul li:first-child a{
	  margin: 0 30px 0 0 !important;
	}

	.btn-custom{
	  margin-left: 10px;
	  font-size: 14px;
	}
	/*menu*/
	/*header*/

	/*banner*/
	.b-box {
	    padding: 70px 33px;
	}
	.b-h1{
	  font-size: 50px;
	}
	
	.b-services ul li{
	  font-size: 15px;
	}
	.b-services ul li i{
	  font-size: 14px;
	}

	.b-btn-custom1{
	  font-size: 14px;
	}
	
	.b-btn-custom2{
	  margin-left: 8px;
	  font-size: 14px;
	}
	/*banner*/

	/*service*/
	.service{
	  padding: 85px 0;
	}

	.s-h1{
	  font-size: 36px;
	}
	.s-p{
	  font-size: 15px;
	}
	.s-a {
	  font-size: 15px;
	}
	.s-p2{
	  font-size: 14px;
	}

	.s-option{
	  margin-bottom: 32px;
	  padding: 25px 0;
	}
	.s-h2{
	  font-size: 15px;
	}
	.s-op-p{
	  font-size: 14px;
	}
	/*service*/

	/*feature*/
	.feature{
	  padding: 85px 34px;
	}
	.f-box{
	  width: 420px;
	  height: 380px;
	}
	.f-h1{
	  margin:0 0 30px 0;
	  font-size: 34px;
	}
	.f-p{
	  margin:0 0 30px 0;
	}
	.f-services ul li{
	  font-size: 14px;
	  color: #ee9e00;
	}
	.f-services ul li i{
	  font-size: 14px;
	  color: #ee9e00;
	}
	/*feature*/

	/*advantage*/
	.advantage{
	  padding: 0;
	}
	.a-option{
	  padding: 10px 10px;
	}
	.a-h2{
	  font-size: 15px;
	}
	/*advantage*/

	/*stat*/
	.stat{
	  margin: 80px 0 0;
	}
	.s-stat{
	  padding: 20px 0 20px 40px;
	}

	/** Progressbar class css*/
	.proggress{
	  height: 7px;
	  width: 9px;
	}
	.percentCount{
	  font-size: 13px; 
	}
	.s-title{
	  font-size: 14px;
	}
	/** Progressbar class css*/
	/*stat*/

	/*team*/
	.team{
	  padding: 85px 0;
	}
	.t-slide{
	  padding: 45px 0 80px;
	}
	/*team*/

	/*call*/
	.call{
	  padding: 100px 0;
	}
	.c-h1{
	  font-size: 62px;
	  margin-bottom: 30px;
	}
	/*call*/

	/*achievement*/
	.ach{
	  padding: 85px 0 85px 114px;
	}
	.ach-h2{
	  font-size: 32px;
	}
	.ach-p{
	  font-size: 12px;
	}
	/*achievement*/

	/*plan*/
	.plan{

	  padding: 85px 0 0 0;
	}

	.p-services ul li{
	  font-size: 15px;
	}
	.p-services ul li i{
	  font-size: 14px;
	}
	.p-p{
	  font-size: 30px;
	}
	/*plan*/

	/*quality*/
	.quality{
	  padding: 85px 0;
	}
	.q-h2{ 
	  font-size: 20px;
	}

	.q-box{
	  width: 380px;
	  height: 480px;
	}
	/*quality*/

	/*contact*/
	.contact{
	  padding: 0 0 85px;
	}
	/*contact*/

	/*bottom*/
	.bottom{
	  padding: 55px 0 15px;
	}
	.b-1 p strong{
	  font-size: 16px;
	}
	.b-1 p a{
	  font-size: 14px;
	}
	/*bottom*/
}

/*Extra large devices (desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {
	/*header*/
	header{
	  background-image: linear-gradient(to right, #1b1c4a 0%, #1b1c4a 37.5%, #f3f1fc 37.5%, #f3f1fc 100%);
	}
	/*menu*/
	.menu ul li a{
	  margin: 0 13px !important;
	  font-size: 15px;
	}
	.menu ul li:first-child a{
	  margin: 0 85px 0 0 !important;
	}

	.btn-custom{
	  margin-left: 13px;
	  font-size: 15px;
	}
	/*menu*/
	/*header*/

	/*banner*/
	.b-box {
	    padding: 80px 50px;
	}
	.b-h1{
	  font-size: 58px;
	}
	
	.b-services ul li{
	  font-size: 16px;
	}
	.b-services ul li i{
	  font-size: 15px;
	}

	.b-btn-custom1{
	  font-size: 15px;
	}
	
	.b-btn-custom2{
	  font-size: 15px;
	}
	
	/*banner*/

	/*service*/
	.service{
	  padding: 90px 35px;
	}

	.s-h1{
	  font-size: 40px;
	}
	.s-p{
	  font-size: 15px;
	}
	.s-a {
	    font-size: 15px;
	}
	.s-p2{
	  font-size: 14px;
	}

	.s-option{
	  margin-bottom: 32px;
	  padding: 25px 0;
	}
	.s-h2{
	  font-size: 16px;
	}
	.s-op-p{
	  font-size: 14px;
	}
	/*service*/

	/*feature*/
	.feature{
	  padding: 90px 34px;
	}
	.f-box{
	  width: 440px;
	  height: 435px;
	}
	.f-h1{
	  margin:0 0 30px 0;
	}
	.f-p{
	  margin:0 0 30px 0;
	}
	.f-services ul li{
	  font-size: 15px;
	  color: #ee9e00;
	}
	.f-services ul li i{
	  font-size: 14px;
	  color: #ee9e00;
	}
	/*feature*/

	/*advantage*/
	.advantage{
	  padding: 0 38px;
	}
	.a-option{
	  padding: 10px 35px;
	}
	.a-h2{
	  font-size: 16px;
	}
	/*advantage*/

	/*stat*/
	.stat{
	  margin: 80px 0 0;
	}
	.s-stat{
	  padding: 25px 0 25px 40px;
	}

	/** Progressbar class css*/
	.percentCount{
	  font-size: 13px; 
	}
	.s-title{
	  font-size: 14px;
	}
	/** Progressbar class css*/
	/*stat*/

	/*team*/
	.team{
	  padding: 90px 0;
	}
	.t-slide{
	  padding: 50px 0 85px;
	}
	.t-option{
	  margin: 0 15px;
	  border-radius: 30px;
	}
	/*team*/

	/*call*/
	.call{
	  padding: 110px 0;
	}
	.c-h1{
	  font-size: 70px;
	  margin-bottom: 35px;
	}
	/*call*/

	/*achievement*/
	.ach{
	  padding: 90px 0 90px 127px;
	}
	.ach-h2{
	  font-size: 35px;
	}
	.ach-p{
	  font-size: 12px;
	}
	/*achievement*/

	/*plan*/
	.plan{

	  padding: 90px 0 0 0;
	}

	.p-services ul li{
	  font-size: 15px;
	}
	.p-services ul li i{
	  font-size: 14px;
	}
	.p-p{
	  font-size: 30px;
	}
	/*plan*/

	/*quality*/
	.quality{
	  padding: 100px 0;
	}
	.q-h2{ 
	  font-size: 22px;
	}

	.q-box{
	  width: 440px;
	  height: 540px;
	}
	/*quality*/

	/*contact*/
	.contact{
	  padding: 0 0 90px;
	}
	/*contact*/

	/*bottom*/
	.bottom{
	  padding: 60px 0 15px;
	}
	/*bottom*/

}

/*Extra extra large devices (large desktops, 1400px and up)*/
@media (min-width: 1400px) and (max-width: 1899.98px){
	
}

/*Extra extra extra large devices (large desktops, 1900px and up)*/
@media (min-width: 1900px) {
	/*header*/
	header{
	  background-image: linear-gradient(to right, #1b1c4a 0%, #1b1c4a 43%, #f3f1fc 43%, #f3f1fc 100%);
	}
	/*header*/

	/*feature*/
	.feature{
      background-image: linear-gradient(to right, #f3f1fc 50%, #f3f1fc 50%);
	}
	/*feature*/

	/*team*/
	.team{
	  background-image: linear-gradient(to right, #f3f1fc 50%, #f3f1fc 50%);
	}
	/*team*/

}